# Entornos virtuales
.venv/
venv/
everwise/
pyvenv.cfg

# Python & Cache
__pycache__/
*.pyc
*.pyo

# Variables de entorno y llaves secretas
.env
.env.*
!.env.example

# Base de datos local
*.db
data/*.db
data/*.db-wal
data/*.db-shm

# Sistema
.DS_Store
.idea/
.vscode/

